---
Checks: >
  clang-analyzer-*,
  bugprone-*,
  modernize-*,
  performance-*,
  portability-*,
  readability-container-size-empty,
  readability-delete-null-pointer,
  readability-duplicate-include,
  readability-inconsistent-declaration-parameter-name,
  readability-misleading-indentation,
  readability-non-const-parameter,
  readability-redundant-*,
  readability-static-accessed-through-instance,
  -cppcoreguidelines-avoid-magic-numbers,
  -cppcoreguidelines-avoid-non-const-global-variables,
  -cppcoreguidelines-owning-memory,
  -cppcoreguidelines-pro-bounds-array-to-pointer-decay,
  -cppcoreguidelines-pro-bounds-constant-array-index,
  -cppcoreguidelines-pro-bounds-pointer-arithmetic,
  -cppcoreguidelines-pro-type-reinterpret-cast,
  -cppcoreguidelines-pro-type-union-access,
  -modernize-avoid-c-arrays,
  -modernize-use-trailing-return-type,
  -performance-no-int-to-ptr,
  -readability-function-cognitive-complexity,
  -readability-identifier-length,
  -readability-identifier-naming,
  -readability-magic-numbers
WarningsAsErrors: ''
HeaderFilterRegex: '^(HorizonRadio|HorizonRadio\.Tests)[/\\]'
FormatStyle: file
